.formulario {
	width: 30%;
	margin: 0 auto;
}

.formulario fieldset {
	/* Flexbox */
	display: flex;
	align-items: center;
	flex-direction: column;
}

.formulario fieldset input[type="submit"] {
	width: 40%;
	margin: 20px;
}