/* Principal */
.titulo-principal, .enlace-volver {
	text-align: center;
}

.lista-indice .enlace-indice {
	color: black;
	text-decoration: none;
}

.sinEstilo {
	list-style: none;
	color: gray;
	padding-top: 5px;
}

/* Tabla */

.tabla {
	border: 1px solid black;
	border-collapse: collapse;
}

.tabla td, .tabla th {
	border: 1px solid black;
	padding: 10px;
	font-family: sans-serif;
}

/* Titulos */

h2 {
	text-align: center;
	margin-top: 70px;
	color: rgb(95.625, 95.625, 255);
}

h3 {
	margin-top: 75px;
}

.titulo-secundario::before {
	color: rgb(75, 75, 75);
	content: '/* ---- ---- ---- ';
}

/* Estilizar codigo */

code {
	color: rgb(150, 0, 0);
}

/* Elemento div de ejemplo */

.elementoDOM {
	color: white;
	background: red;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
}

/* Elemento input de ejemplo */

.elementoDOM::placeholder {
	color: white;
}

.elementoDOM[type="text"] {
	width: 400px;
	border: 1px solid #F2F2F2;
	outline-color: #F2F2F2;
}

/* Boton de programa */

.btn-programa {
	display: block;
	padding: 10px;
	margin: 0 auto;
	font-weight: bold;
}