:root {
    --text-max-width: 600px;
}

h4 {
    margin: 50px 0 0 0;
}

p {
    max-width: var(--text-max-width);
}

pre {
    background-color: black;
    max-width: 1200px;
    padding: 10px;
    border-radius: 5px;
    overflow-x: scroll;
}

pre > code {
    color: white;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

ul {
    max-width: var(--text-max-width);
}